/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: lavender;
    padding: 20px;
    color: royalblue;
}

/* keeping left the title in the header */
header h1 {
    text-align: left;
    color: rgb(206, 165, 253);
    font-size: 24px;
    font-weight: bold;
    padding: 1px;
}

/* Aligning the navigation links to the right */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(87, 120, 219);
    text-decoration: none;
}

/* Main content layout with grid */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
    text-align: center;
}

/* Styling for the clickable components*/
.section {
    padding: 20px;
    background-color: rgb(58, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Styling for the section links */
.section-link {
    text-decoration: none;
    color: inherit;
}

.section-link:hover .section {
    transform: scale(1.05);  /* zoom on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  /* shadow on hover */
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: lavenderblush;
    color: blueviolet;
    position: relative;
}

nav {
    text-align: center;
    margin-bottom: 5px;
}

/* Horizontal line separating the footer */
hr {
    margin: 40px 0;
    border: none;
    height: 1px;
    background-color: #ccc;
}

/* Responsive design for view on different size displays*/
@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}